# Variáveis de ambiente
.env
.env.*
!.env.example

# Dependências
node_modules/

# Build / dist
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage / testes
coverage/

# Cache
.cache/
.tmp/

# IDEs / editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
